body {
  font-family: sans-serif;
}

.frame {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* text-align: center; */
  position: relative;
  /* display: flex;
  justify-content: center; */
}

#video {
  /* width: 1280px; */
  /* height: 720px; */
  /* height: 100vh; */
  /* display: none; */
  position: absolute;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  /* transform: scale(-1, 1); */
  /* transform: scaleX(-1); */
}

/* trim target */
#canvas {
  /* width: 1280px; */
  /* height: 100vh; */
  display: inline-block;
  position: relative;
  /* border: 1px solid yellow; */
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  visibility: hidden;
  /* display: none; */
}

/* posenet src */
#canvas2 {
  /* width: calc(100vw - 2px); */
  /* height: calc(100vh - 2px); */
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  /* border: 1px solid red; */
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  visibility: hidden;
  /* display: none; */
}

/* points */
#canvas3 {
  /* width: calc(100vw - 2px); */
  /* height: calc(100vh - 2px); */
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  /* border: 1px solid blue; */
  /* visibility: hidden; */
  /* display: none; */
}
